<div id="index-result">
    @Html.Action(MVC.Admin.Religion.ActionNames.Nav, MVC.Admin.Religion.Name)
    @Html.Action(MVC.Admin.Religion.ActionNames.List, MVC.Admin.Religion.Name)
    @Html.Raw(TempData["Message"])
</div>

