<div id="index-result">
    @Html.Action(MVC.Admin.Place.ActionNames.Nav, MVC.Admin.Place.Name)
    @Html.Action(MVC.Admin.Place.ActionNames.List, MVC.Admin.Place.Name)
    @Html.Raw(TempData["Message"])
</div>

