@model Jazb.DomainClasses.Entities.Valentear
@using CaptchaMvc.HtmlHelpers;
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">تصویر فیش واریزی</h3>
</div>
<div class="modal-body">
  
</div>
<div class="modal-footer" style="text-align: right;">
   <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">بستن</button>
</div>
<script type="text/javascript">
   
</script>
