@model Jazb.Model.Sanjesh.PrintDataModel
@using Jazb.Web.Helpers
@{
    ViewBag.Title = "PrintData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" id="printThis">
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/Docs.css" rel="stylesheet" />

    <div class="col-md-7">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <td>
                    <img src="~/Images/AzmoonHeader.jpg" width="100%" />
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <h4><b>کد رهگیری :</b>@Model.TrackingCode</h4>

                </td>
            </tr>
        </table>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <td>
                    @Model.StrMessage

                </td>

            </tr>
            @if (Model.Hasmolahezat)
            {
                <tr>
                    <td>
                        ملاحظات:
                        <br />
                        <strong style="color:red;">تصاویر زیر ارسال نشده اند . درصورت لزوم نسبت به ارسال مدارک اقدام کنید</strong>
                        <br />
                        @Html.Raw(Model.Molahezat)
                    </td>
                </tr>
            }
             <tr>
                <td>
                    @Html.Raw(ViewBag.PossibleSignTextValenter)
                </td>
            </tr>
         
        </table>
    </div>


</div>
<div class="row">
    <div class="col-md-7">
        <input type="button" class="btn btn-info" onclick="printDiv('printThis')" value="چاپ اطلاعات " />
    </div>
</div>

@{
    <script type="text/javascript">
        function printDiv(divName) {

            var printContents = document.getElementById(divName).innerHTML;            
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;

            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
}

