<div id="index-result">
    @Html.Action(MVC.Admin.Faith.ActionNames.Nav, MVC.Admin.Faith.Name)
    @Html.Action(MVC.Admin.Faith.ActionNames.List, MVC.Admin.Faith.Name)
    @Html.Raw(TempData["Message"])
</div>

