<div id="index-result">
    @Html.Action(MVC.Admin.DevotionType.ActionNames.Nav, MVC.Admin.DevotionType.Name)
    @Html.Action(MVC.Admin.DevotionType.ActionNames.List, MVC.Admin.DevotionType.Name)
    @Html.Raw(TempData["Message"])
</div>


