<div id="index-result">
    @Html.Action(MVC.Admin.Job.ActionNames.Nav, MVC.Admin.Job.Name)
    @Html.Action(MVC.Admin.Job.ActionNames.List, MVC.Admin.Job.Name)
    @Html.Raw(TempData["Message"])
</div>

