<div id="index-result">
    @Html.Action(MVC.Admin.ConscriptStatus.ActionNames.Nav, MVC.Admin.ConscriptStatus.Name)
    @Html.Action(MVC.Admin.ConscriptStatus.ActionNames.List, MVC.Admin.ConscriptStatus.Name)
    @Html.Raw(TempData["Message"])
</div>

