<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaymentProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PaymentProject.Properties.Settings>
            <setting name="PaymentProject_BankSaman_PaymentIFBinding" serializeAs="String">
                <value>https://sep.shaparak.ir/Payments/InitPayment.asmx</value>
            </setting>
            <setting name="PaymentProject_BankSamanVerify_PaymentIFBinding"
                serializeAs="String">
                <value>https://sep.shaparak.ir/payments/referencepayment.asmx</value>
            </setting>
        </PaymentProject.Properties.Settings>
    </applicationSettings>
</configuration>