@{
    ViewBag.Title = "_errorPrintData";
    Layout = "~/Views/Shared/_LayoutAzmoon.cshtml";
}




<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <h3>اطلاعاتی وجود ندارد</h3>
        </div>
    </div>
</div>