


   <blockquote class="blockquote-reverse">
       <h3>نمایش پاسخ ها</h3>
       <footer>
           <strong>کاربر گرامی</strong>
           برای دیدن پاسخ سئوال هایتان روی دگمه زیر کلیک کنید
           <br />
           و در صفحه باز شده با وارد کردن کد ملی خود پاسخ ها را مشاهده کنید
       </footer>
   </blockquote>
<div class="well well-lg">
        <div class="col-xs-12 col-sm-12 col-md-12">   
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">                
                   <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    
                   <h2> برای مشاهده پاسخ ها @Html.ActionLink("   اینجا   ", "AnswerIndex", "FAQs",null, new { @class="btn btn-lg  btn-danger", style="width:120px;" }) را کلیک کنید</h2>
                         <br />
                    <br />
                    <br />  
                    <br />
                    <br />
                    <br />
                    <br />            
                </div>
            </div>


        </div>
</div>
