<div id="index-result">
    @Html.Action(MVC.Admin.Degree.ActionNames.Nav, MVC.Admin.Degree.Name)
    @Html.Action(MVC.Admin.Degree.ActionNames.List, MVC.Admin.Degree.Name)
    @Html.Raw(TempData["Message"])
</div>
