<div id="index-result">
    @Html.Action(MVC.Admin.MarriageStatus.ActionNames.Nav, MVC.Admin.MarriageStatus.Name)
    @Html.Action(MVC.Admin.MarriageStatus.ActionNames.List, MVC.Admin.MarriageStatus.Name)
    @Html.Raw(TempData["Message"])
</div>

