@model Jazb.Models.category

@{
    ViewBag.Title = "Edit";
}

@section ContentPanel{
<div class="page-header">
    <h1>Edit  
        <small>category</small>
    </h1>
</div>


<div class="container" id="divpanle">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
			

    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.CategoryId)
		@Html.Partial("_CreateOrEdit", Model)

         <div class="row">
            <div class="col-md-4">
                  <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
         <div class="col-md-2">
		      @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-warning" })
		 </div>
      </div>
}
    </div>
   </div>
        
</div>

}
