<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">مدیریت آزمون ها</a>
        <ul class="nav">
            <li>@Ajax.ButtonDialog("افزودن آزمون", Url.Action(MVC.Admin.Azmoons.ActionNames.Create, MVC.Admin.Azmoons.Name), "GET", null, "dialog", new DialogOptions { Height = "700", Width = "1000", Title = "آزمون جدید", IsModal = "true", ShowEffect = "size", ShowDir = "down", HideEffect = "fold", HideDir = "right" }, "btn btn-info")</li>
        </ul>
    </div>
</div>
