<div id="index-result">
    @Html.Action(MVC.Admin.Gender.ActionNames.Nav, MVC.Admin.Gender.Name)
    @Html.Action(MVC.Admin.Gender.ActionNames.List, MVC.Admin.Gender.Name)
    @Html.Raw(TempData["Message"])
</div>

