
<div id="index-result">
    @Html.Action(MVC.Admin.EducationSkill.ActionNames.Nav, MVC.Admin.EducationSkill.Name)
    @Html.Action(MVC.Admin.EducationSkill.ActionNames.List, MVC.Admin.EducationSkill.Name)
    @Html.Raw(TempData["Message"])
</div>


