<div id="index-result">
    @Html.Action(MVC.Admin.QoutaType.ActionNames.Nav, MVC.Admin.QoutaType.Name)
    @Html.Action(MVC.Admin.QoutaType.ActionNames.List, MVC.Admin.QoutaType.Name)
    @Html.Raw(TempData["Message"])
</div>

